.header{
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    justify-content: center;

    &__link{
        text-align: center;
        color: #333;
        text-decoration: none;
        padding: 0 20px;

        &.active{
            text-decoration: underline;
        }
    }

    &__user-info{
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
    }

    &__name{
        margin-right: 10px;
    }

    &__logout{
        text-decoration: underline;
        cursor: pointer;
    }
}
